<main>
    <div>
        <h2>Redirection</h2>
        <!-- redicrect from bossHome page to other sub pages-->
        <ul>
            <button type="button" onclick="gotoSellers()">Sellers Page</button><br>
            <button type="button" onclick="gotoInventory()">Inventory Page</button><br>
            <button type="button" onclick="gotoDelivery()">Delivery Page</button><br>
            <button type="button" onclick="gotoFinancial()">Financial Page</button>

        </ul>
    </div>
</main>