<main>
	<div id="loginContent">
		<header id="loginHeader">
		    <h3 id="loginTitle">Sign In</h3>
		</header>

		<form id="loginForm"  action="/login" method="post">
            <label>
                Username:
			    <input id="username" class="loginTextInput" type="username" name="username" autocomplete="on" placeholder="Username" required autofocus>
                <br>
            </label>
            <label>
                Password:
                <input id="password" class="loginTextInput" type="password" name="password"  autocomplete="off" placeholder="Password" required>
                <br>
            </label>
			<input id="loginSubmitButton" type="submit" value="Submit">
		</form> 

		{{#if error}}
		    <p class="error">{{error}}</p>
		{{/if}}

		<div id="registerContent">
			<p>Create a new account using this link:</p>
			<a id="registerLink" href="/signup">Sign Up</a>
		</div>
	</div>
</main>