<main>
    <div id="mainContent">

        <!-- New account's information fill up-->
        <header id="signupHeader">
			<h3 id="signupTitle">Enter Your Information</h3>
		</header>

        <form id="signupForm" action="/signup" method="post" enctype="multipart/form-data">
			<div class="signupFormSection">
				<h4 class="signupFormSectionTitle">Name</h4>
					<input id="firstName" class="signupFormTextInput" type="text" name="firstName" placeholder="First Name" maxlength="30" required>
					<input id="lastName" class="signupFormTextInput" type="text" name="lastName" placeholder="Last Name" maxlength="30" required>
			</div>

            <div class="signupFormSection">
				<h4 class="signupFormSectionTitle">Email</h4>
					<input id="email" class="signupFormTextInput" type="email" name="email" placeholder="Email" maxlength="30" required>
			</div>

            <div class="signupFormSection">
				<h4 class="signupFormSectionTitle">Adress</h4>
					<input id="adress" class="signupFormTextInput" type="text" name="adress" placeholder="adress" maxlength="90" required>
			</div>

            <div class="signupFormSection">
                <h4 class="signupFormSectionTitle">Job Title</h4>
                    <form>
                        <input id="boss" class="signupFormTextInput" type="radio" name="title" value="Boss">
                        <label for="boss">Boss</label><br>
                        <input id="seller" class="signupFormTextInput" type="radio" name="title" value="Seller" checked="checked">
                        <label for="seller">Seller</label><br>
                        <input id="warehouseManager" class="signupFormTextInput" type="radio" name="title" value="Warehouse Manager">
                        <label for="warehouseManager">Warehouse Manager</label>
                    </form>
            </div>

            <div class="signupFormSection">
				<h4 class="signupFormSectionTitle">Username</h4>
					<input id="username" class="signupFormTextInput" type="username" name="username" placeholder="Username" maxlength="30" required>
			</div>

			<div class="signupFormSection">
				<h4 class="signupFormSectionTitle">Password</h4>
				<span>
					<input id="newPassword" class="signupFormTextInput" type="password" name="newPassword" placeholder="Password" minlength="8" maxlength="30" required>
				</span>

				<span>
					<input id="confirmPassword" class="signupFormTextInput" type="password" name="confirmPassword" placeholder="Confirm Password" minlength="8" maxlength="30" required>
				</span>
			</div>

			<p class="error"></p>
			<input id="signupSubmitButton" type="submit" value="Create Account">
		</form> 

    </div>


</main>