<main>
	<div>
        <div>
            <h1>Company Auto-Manage System</h1>
        </div>

		<h3>Sign In</h3>
		<form action="/login" method="post">
            <label>
                Username:
			    <input type="username" name="username" autocomplete="on" placeholder="Username" required autofocus>
                <br>
            </label>
            <label>
                Password:
                <input type="password" name="password"  autocomplete="off" placeholder="Password" required>
                <br>
            </label>
            <button type="submit">Submit</button>
		</form> 

		{{#if error}}
		    <p class="error">{{error}}</p>
		{{/if}}

		<div>
			<p>Create a new account using this link:</p>
			<a href="/create">Sign Up</a>
		</div>
	</div>
</main>