<main>
    <div>

        <!-- Information fill up-->
        <div>
            <header>
				<h3>Enter Your Information</h3>
			</header>

            <form action="/create/candidate" method="post" enctype="multipart/form-data">
				<div>
					<h4>Name</h4>
						<input type="text" name="firstName" id="firstName" placeholder="First Name" maxlength="30" required>
						<input type="text" name="lastName" id="lastName" placeholder="Last Name" maxlength="30" required>
				</div>

                <div>
					<h4>Email</h4>
						<input type="email" name="email" id="email" placeholder="Email" maxlength="30" required>
				</div>

                <div>
					<h4>Adress</h4>
						<input type="text" name="adress" id="adress" placeholder="adress" maxlength="90" required>
				</div>

                <div>
                    <h4>Job Title</h4>
                        <form>
                            <input type="radio" id="boss" name="boss" value="Boss">
                            <label for="boss">Boss</label><br>
                            <input type="radio" id="seller" name="seller" value="Seller">
                            <label for="seller">Seller</label><br>
                            <input type="radio" id="warehouseManager" name="warehouseManager" value="Warehouse Manager">
                            <label for="warehouseManager">Warehouse Manager</label>
                        </form>
                </div>

                <div>
					<h4>Username</h4>
						<input type="username" name="username" id="username" placeholder="Username" maxlength="30" required>
				</div>

				<div>
					<h4>Password</h4>
					<span>
						<input type="password" name="newPassword" id="newPassword" placeholder="Password" minlength="8" maxlength="30" required>
					</span>

					<span>
						<input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" minlength="8" maxlength="30" required>
					</span>
				</div>



				<p class="error"></p>
				<input type="submit" value="Create Account">
			</form> 
        </div>

    </div>


</main>